.cellRow {
  /* height: 20px; */
  display: flex;
  flex-direction: row;
  /* margin-top: 5px; */
  background: pink;
}

.board-inner-container {
  /* margin-top: 80px; */
  display: flex;
  flex-direction: column;
  background: green;
}
.board-outer-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
