.cellRow {
  display: flex;
  flex-direction: row;
  background: rgb(189, 189, 189);
}

.board-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board-outer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.game-over {
  font-size: 40px;
  color: grey;
  margin-top: 30px;
}
